<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/travels">Home</a>
    <a href="/logout">logout</a>
    <h1>Add a Trip</h1>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
      <form action="/travels/add_trip" method="post">
        {% csrf_token %}
        <p><label>Destination: </label><input type="text" name="destination" ></p>
        <p><label>Description: </label><textarea name="plan" rows="8" cols="80"></textarea></p>
        <p><label>Travel Start Date: </label><input type="date" name="startdate" ></p>
        <p><label>Travel End Date: </label><input type="date" name="enddate" ></p>
        <p><input type="submit" value="Add"></p>
      </form>
  </body>
</html>
